*
{
    margin: 0;
    padding: 0;
}

/*---Navigationb---*/

#nav-bar {
    position:sticky;
    top: 0;
    z-index: 10;
}
.nav-link {
    color: rgba(0,0,0,0.5) !important;
    font-weight: bold !important;
}

.navbar-brand img {
    height: 45px;
    padding-left: 20px;
}

.navbar-nav li {

    padding: 0 10px ;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {

color: #00a1eb!important;
}
.navbar {
 
    background: rgb(255, 255, 255);
}
.navbar-toggler {
    border: none!important;
    font-weight: 600 ;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}
  /*....Slider.....*/
  #slider {
      width: 100%;
      
  }
  .carousel-caption {
      top: 50%;
      transform: translateY(-50%);
      bottom: initial!important;
  }

  .carousel-caption h5 {
      color: #fff;
      font-size: 42px;
    
  }

  #about {
      padding-top: 50px;
      padding-bottom: 50px;
      color: rgb(54, 54, 54) ;
  }

  #about .btn {
      margin-top: 20px;
      margin-bottom: 30px;
  }

  .about-content {
      padding-top:20px ;
  }

  .skills-bar p {
      margin-bottom: 6px;
      font-weight: 600;
  }
  .progress-bar {
      border-radius: 16px;
  }
  .progress {
    border-radius: 16px !important;
    margin-bottom:20px ;
}

/*************services***/

#services {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/online.png);
    background-size: cover;
    color: #fff !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;

}
#services h1::after {
   content: "";
   background: #efefef;
   display: block;
   height: 3px;
   width: 170px;
   margin: 20px auto 5px;

}

.services {
    margin-top: 40px ;
}
.icon {
    font-size: 35px;
    margin: 20px auto;
    padding: 18px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}
ُ#services p {

    font-size: 14px;
    margin-top: 20px;
    color: white;


}

.services .col-md-3:hover {
    background: #b35508;
    cursor: pointer;
    transition: 0.7s;
}

/*******team members******/
#team {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

}

h1 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;

}
h1::after {
    content: "";
    background: #00c59a;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px ;
    
}
.profile-pic {
    margin-top: 25px;

}
.profile-pic .img-box {
    opacity: 1;
     display: block;
     position: relative;
    
}
.profile-pic .img-box img {
    filter: grayscale(1);
   
}
.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
   
}
.profile-pic h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #009ec5;
}
.profile-pic h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;

}
#team .fa {
    height: 25px;
    width: 25px;
    color: #009ec5;
    background: white;
    padding: 4px;
    border-radius: 50% ;

}
.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
} 

.img-box ul li {
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul {
    opacity: 1;
}
.img-box ul, .img-box ul li {
    transition: 0.5s;
}
.img-responsive {
    width: 250px;
    height: 250px;
}

/********Promo************/

#promo {
    background-image: linear-gradient(rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)),url(./img/wallpaper.jpg);
     background-size: cover;
     background-position: center;
     color: #fff;
     background-attachment:fixed;
     text-align: center;
     padding: 80px;
     font-family: sans-serif;
     font-size: 40px;
}
  /**********price******/
#price {
    padding: 40px 0;
    background: #efefef;
}
.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover {
    box-shadow: 0 2px 10px #333;
}

.price-head {

    background-color: #00bd8e;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2 {
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p {
    font-size: 25px;
    color: rgb(233, 233, 233);
    font-weight: bold;
    line-height: 30px;
}
#price span {
    font-size: 15px;
}
.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    border-bottom: 1px solid #efefef;
    padding: 10px 10px;
    list-style: none;
}

ul li:last-child {
    border: none;
}
.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button {
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn {
    background-color: #00a078;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover {
    border-color: 1px solid white;
    background-color: #00d39e;
}
a {
    text-decoration: none !important;
    color: white !important;
}


/********testimonials*******/
#testimonials {
    padding-top: px;
    padding-bottom: px;
}

#testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
    margin: 40px auto;
}
.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}
.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #00a078;
}
.testimonials span {
    font-size: 12px;
    color: #333;
}
blockquote {
    font-size: 16px;
    line-height: 30px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.5s;
}


/*********get in toutch*******/
#contact {
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form {

    padding: 15px;
}
.form-control {
    border-radius: 0 !important;
    border: none  !important;
}
::placeholder {
    color: #999 !important ;
}
.follow {
    background: white;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa {
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

/*********Footer********/
#footer {
    background:#333 ;
    color: #fff;
    padding: 12px ;
    font-weight: bold;
}
.fa-heart-o {
    margin: 3px;
    color: red;
}
